/* style.css */
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .divider {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
  }
  
  .values li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  
  .values li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #007bff; /* Azul claro */
    border-radius: 50%;
  }
  
  .values li {
    font-weight: bold;
    color: #333;
  }
  
  .values li:hover {
    color: #007bff; /* Azul claro */
    cursor: pointer;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #ccc;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .about {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .about p {
    margin-bottom: 20px;
  }
  
  .about ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .about ul li {
    margin-bottom: 10px;
  }
  
  .about ul li:before {
    content: "\2022";
    font-size: 18px;
    color: #666;
    margin-right: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }